h1,
h2,
h3 {
  font-size: 2rem;
  @include breakpoint-up(large) {
    font-size: 2.25rem;
  }
}

h1 {
  font-size: 1.5rem;
  @include breakpoint-up(large) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.875rem;
  @include breakpoint-up(large) {
    font-size: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
  font-size: 1.125rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
